body {
    background-color: #74D36D; 
  }
  

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .clock-container {
    display: flex;
    justify-content: flex-start;
  }

.list-container {

    display: flex;
    flex-wrap: wrap;
  }
  
  .list {
    background-color: #E0FFDB;
    border-radius: 5px;
    display: flex;
    align-items: center; 
    list-style-type : none;
    width: 407px;
    height: 60px;
    padding: 10px;
    margin-left: -43px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  .input-Text {
    width: 350px; 
    height: 30px; 
    font-size: 20px;
    padding: 5px 10px; 
    border: 1px solid #ccc;
    border-radius: 5px; 
  }
  
  
  
  .input-button {
    font-size: 20px;
    margin-left: 10px;
  }

  #buttons {
    font-size: 20px;
  }
  
  .button-group {
    margin-left: auto;
    display: flex;
    gap: 2px;
  }
  
  .clock{
    margin-bottom: 20px;
    margin-right: 10px;
    font-size: 20px;
    color:rgb(0, 103, 7);
  }

  .title{
    color:white;
    text-shadow: 
    -1px -1px 0 black,  
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
  }